<!DOCTYPE html>
<html ng-app="ContactsApplication">
    <head>
        <meta charset="utf-8">
        <title>Contacts Application</title>

        <!-- Styles -->

        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

          <!--  Angular Setup -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/angular-resource/angular-resource.min.js"></script>


        <!-- Application Setup -->
        <script src="public/appRoutes.js"></script>
        <script src="public/app.js"></script>

        <!--  Controllers -->
        <script src="public/components/contacts/controllers/contacts.control.js"></script>

        <!-- Services -->
        <script src="public/components/contacts/services/getContacts.service.js"></script>

    </head>
    <center>
    <body ng-controller="ContactsController">
        <div class="container">
        <div class="col-md-5">
            <div class="form-area">
                <form role="form" name="infoForm">
                <br style="clear:both">

                  <h3 style="margin-bottom: 25px; text-align: center;">Contact Form</h3>
            				<div class="form-group">
        						<input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="name" required>
        					</div>
                  <span>{{data.invalidName}}</span>
        					<div class="form-group">
        						<input type="tel" pattern='^\+?\d{0,11}' class="form-control" id="mobile" name="mobile" placeholder="e.g.(19739028359)" ng-model="number" required>
        					</div>
                  <span>{{data.message}}</span>
                  <br>
                  <div class="form-group">
                    <!-- <input type="file"  class="form-control" name="pic" accept="image/*"> -->

                 </div>

                <button type="button" id="submit" name="submit" class="btn btn-primary pull-left" ng-click="submit(name, number)">Enter Contact</button>
                </form>
            </div>
        </div>
        </div>

        <br/>
        <br/>


        <!-- The dynamic templates will be served within this div -->
        <ui-view></ui-view>
      </center>
    </body>
</html>
